<!DOCTYPE html>
<html>

{{>head}}


<body>

  <nav class="navbar navbar-light fixed-top navbar-fixed-top justify-content-center pad-index">
    <a class="navbar-brand">
      <img src="logo.svg" height="70px" class="d-inline-block" alt="">
    </a>
  </nav>



  <div class="container">
    Teste
  </div>

</body>



</html>