<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  {{>nav}}

  <div class="container">
    {{{body}}}
  </div>

  <hr> {{>footer}}

</body>

</html>


<script>
  // Script para setar active da navbar
  var url = document.URL;
  var array = document.getElementsByClassName('nav-item');
  var home = true;

  for (i = 0; i < array.length; i++) {
    if (url.search(array[i].id) != -1) {
      array[i].classList.add('active');
      home = false;
    } else {
      array[i].classList.remove('active');
    }
  }


  if (home) {
    array[0].classList.add('active');
    for (i = 1; i < array.length; i++) {
      array[i].classList.remove('active');
    }
  }

  $("#firstName").on("input", function () {
    var regexp = /[^a-zA-Z áàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]/g;
    if (this.value.match(regexp)) {
      $(this).val(this.value.replace(regexp, ''));
    }
  });

  $("#lastName").on("input", function () {
    var regexp = /[^a-zA-Z áàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]/g;
    if (this.value.match(regexp)) {
      $(this).val(this.value.replace(regexp, ''));
    }
  });


</script>