$theme-colors: ("primary": #9c4b9c,
"danger": #db0a37);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

$nav: #ebbbeb;
$title: #995699;

@include media-breakpoint-down(md) {
	.container {
		width: 100%;
		max-width: none;
	}
}

#title {
	text-align: center;
	color: $title;
}

#title-row{
	margin-top: 100px;
}

.svg {
	position: relative;
	left: 50%;
	transform: translatex(-50%);
}

.visitor {
	margin-top: 100px;
}

#modal-header {
	background-color: $nav;
	text-align: center;
}

#modal {
	text-align: center;
}

.modal-center {
	position: relative;
	left: 50%;
	transform: translatex(-50%);
}

.justify {
	text-align: justify;
}

.faixa {
	margin-bottom: 100px;
	margin-top: 100px;
}

.faixa-ult {
	margin-bottom: 50px;
	margin-top: 100px;
}

#buttons {
	padding-bottom: 30px;
}



@media (min-width: 1px) and (max-width: 998px) {
	h1 {
		font-size: 70px;
	}

	h2 {
		font-size: 55px;
	}

	h3 {
		font-size: 50px;
	}

	h4 {
		font-size: 48px;
	}

	h5 {
		font-size: 30px;
	}

	p {
		font-size: 30px;
	}

	.img-faixa {
		max-width: 80%;
		max-height: 70px;
	}

	.img-faixa-p {
		width: 50%;
		max-height: 70px;
	}

	#btn-center {
		margin-bottom: 10px;
		position: relative;
		left: 50%;
		transform: translatex(-50%);
		font-size: 40px;
	}

	#submit {
		margin-bottom: 10px;
		position: relative;
		left: 50%;
		transform: translatex(-50%);
		font-size: 40px;
	}

	#back {
		margin-bottom: 10px;
		position: relative;
		left: 50%;
		transform: translatex(-50%);
		font-size: 40px;
	}

	.btn-close {
		font-size: 35px;
	}

	.form-control-lg {
		height: 80px;
		font-size: 40px;
	}

	.pad-index {
		padding-left: 18px;
	}

	.navbar {
		height: 120px !important;
		/*i assume your navbar size 100px*/
		background-color: $nav;
	}

	.img-logo {
		height: "90px";
	}

	body {
		padding-top: 150px;
	}

}

@media (min-width: 998px) {
	/* 	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 42px;
	}
	h3 {
		font-size: 37px;
	}
	h4 {
		font-size: 33px;
	}
	h5 {
		font-size: 28px;
	}*/

	p {
		font-size: 23px;
	}

	.img-faixa {
		max-width: 80%;
		max-height: 100px;
	}

	.img-faixa-p {
		width: 50%;
		max-height: 100px;
	}

	#btn-center {
		margin-bottom: 10px;
		position: relative;
		left: 50%;
		transform: translatex(-50%);
		font-size: 24px;
	}

	#submit {
		margin-bottom: 10px;
		position: relative;
		left: 50%;
		transform: translatex(-50%);
		font-size: 24px;
	}

	#back {
		margin-bottom: 10px;
		position: relative;
		left: 50%;
		transform: translatex(-50%);
		font-size: 24px;
	}

	.btn-close {
		font-size: 20px;
	}

	.pad-index {
		padding-left: 35px;
	}
	

	.navbar {
		height: 100px !important;
		/*i assume your navbar size 100px*/
		background-color: $nav;
	}

	.img-logo {
		height: "60px";
	}

	body {
		padding-top: 50px;
	}
}